.daily-forecast {
  width: 65%;
  padding: 15px;
}

.daily-forecast > h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.forecast-list,
.forecast {
  display: flex;
}

.forecast-list {
  flex-direction: column;
  gap: 5px;
}

.forecast {
  justify-content: space-between;
  align-items: center;
}

.forecast p {
  font-size: 18px;
  width: 90px;
}

.forecast span {
  font-size: 18px;
}