.daily-forecast {
  background: var(--theme-one-fourth-color);
  width: 36%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.daily-forecast > h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.forecast-list,
.forecast {
  display: flex;
}

.forecast-list {
  flex-direction: column;
  gap: 5px;
}

.forecast {
  justify-content: space-between;
  align-items: center;
  background: var(--theme-one-fifth-color);
  height: 40px;
  padding-inline: 10px;
}

.forecast p {
  font-size: 18px;
  width: 90px;
}

.forecast img {
  width: 40px;
}

.forecast span {
  font-size: 18px;
}