.forecast-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.forecast-list {
  display: flex;
  justify-content: space-between;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 11.5%;
  background: var(--theme-neutral-second-color);
  padding-block: 15px;
  border-radius: 12px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.forecast-time {
  font-size: 17px;
  width: 100%;
  text-align: center;
}

.forecast img {
  width: 50px;
}

.forecast-temp {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.dawn-theme h2 {
  color: var(--theme-neutral-third-color);
}

.dawn-theme .forecast {
  background: var(--theme-dawn-third-color);
}

.dawn-theme p {
  color: var(--theme-neutral-third-color);
}

.dayling-theme h2 {
  color: var(--theme-neutral-first-color);
}

.dayling-theme .forecast {
  background: var(--theme-dayling-third-color);
}

.dayling-theme p {
  color: var(--theme-neutral-fourth-color);
}

.sunset-theme h2 {
  color: var(--theme-neutral-fifth-color);
}

.sunset-theme .forecast {
  background: var(--theme-sunset-third-color);
}

.sunset-theme p {
  color: var(--theme-neutral-fourth-color);
}

.evening-theme h2 {
  color: var(--theme-neutral-first-color);
}

.evening-theme .forecast {
  background: var(--theme-evening-third-color);
}

.evening-theme p {
  color: var(--theme-neutral-third-color);
}

@media screen and (max-width: 480px) {
  .forecast-list {
    overflow-x: auto;
    gap: 12px;
  }

  .forecast {
    flex: 0 0 35%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .forecast-list {
    overflow-x: auto;
    gap: 12px;
  }

  .forecast {
    flex: 0 0 28%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .forecast-list {
    overflow-x: auto;
    gap: 12px;
  }

  .forecast {
    flex: 0 0 18%;
  }
}