.suggestion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background: var(--theme-morning-second-color);
  border-radius: 10px;
  padding: 11px 5px;
}

.suggestion-icon {
  font-size: 25px;
  color: var(--theme-morning-fifth-color);
  padding: 5px;
}

.suggestion__info {
  width: 100px;
  text-align: center;
}

.suggestion__info p:first-child {
  margin-bottom: 4px;
  color: var(--theme-morning-fifth-color);
  border-bottom: 0.5px solid var(--theme-morning-fifth-color);
}

.dawn-theme {
  background: var(--theme-dawn-fourth-color);
}

.dawn-theme .suggestion-icon,
.dawn-theme .suggestion__info p:first-child {
  color: var(--theme-neutral-third-color);
}

.dawn-theme .suggestion__info p:first-child {
  border-bottom: 0.5px solid var(--theme-dawn-fifth-color);
}

.dawn-theme .suggestion__info p:last-child {
  color: #adabab;
}

.evening-theme {
  background: var(--theme-evening-fourth-color);
}

.evening-theme .suggestion-icon,
.evening-theme .suggestion__info p:first-child {
  color: var(--theme-neutral-fourth-color);
}

.evening-theme .suggestion__info p:first-child {
  border-bottom: 0.5px solid var(--theme-evening-fifth-color);
}

.evening-theme .suggestion__info p:last-child {
  color: var(--theme-neutral-third-color);
}