.suggestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 13px;
}

.suggestion-icon {
  font-size: 25px;
}

.suggestion__info {
  text-align: center;
}

.suggestion__info p:first-child {
  margin-bottom: 5px;
}