.suggestions-container {
  background: var(--theme-neutral-second-color);
  width: 25%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.suggestions-container > h2 {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.suggestions {  
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 13px;
}

.dawn-theme {
  background: var(--theme-dawn-third-color);
}

.dawn-theme h2 {
  color: var(--theme-neutral-fourth-color);
}

.dayling-theme {
  background: var(--theme-dayling-third-color);
}

.dayling-theme h2 {
  color: var(--theme-neutral-first-color);
}

.sunset-theme {
  background: var(--theme-sunset-third-color);
}

.sunset-theme h2 {
  color: var(--theme-neutral-first-color);
}

.evening-theme {
  background: var(--theme-evening-third-color);
}

.evening-theme h2 {
  color: var(--theme-neutral-first-color);
}