.error-container,
.error-box {
  display: flex;
  align-items: center;
}

.error-container {
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.error-box {
  flex-direction: column;
  background: var(--theme-neutral-second-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.error-information {
  margin-bottom: 20px;
  text-align: center;
}

.error-information h1 {
  font-size: 3rem;
  color: var(--theme-morning-fifth-color);
  margin-bottom: 5px;
}

.error-information h3 {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--theme-morning-fifth-color);
  margin-bottom: 25px;
}

.error-information p {
  font-size: 20px;
  color: var(--theme-morning-fifth-color);
}

.dawn-theme .error-box {
  background: var(--theme-dawn-third-color);
}

.dawn-theme .error-information h1 {
  color: var(--theme-neutral-fourth-color);
}

.dawn-theme .error-information h3,
.dawn-theme .error-information p {
  color: var(--theme-neutral-third-color);
}

.dayling-theme .error-information h1,
.dayling-theme .error-information h3 {
  color: var(--theme-neutral-first-color);
}

.dayling-theme .error-information p {
  color: var(--theme-neutral-fourth-color);
}

.sunset-theme .error-information h1{
  color: var(--theme-neutral-first-color);
}

.sunset-theme .error-information h3,
.sunset-theme .error-information p  {
  color: var(--theme-neutral-fourth-color);
}

.evening-theme .error-information h1{
  color: var(--theme-neutral-first-color);
}

.evening-theme .error-information h3,
.evening-theme .error-information p {
  color: var(--theme-neutral-fourth-color);
}

@media screen and (max-width: 480px) {
  .error-information h1 {
    font-size: 2rem;
  }
  
  .error-information h3 {
    font-size: 1.2rem;
  }
  
  .error-information p {
    font-size: 16px;
  }
}
  

@media screen and (min-width: 481px) and (max-width: 767px) {
  .error-information h1 {
    font-size: 2.4rem;
  }
  
  .error-information h3 {
    font-size: 1.3rem;
  }
  
  .error-information p {
    font-size: 17px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .error-information h1 {
    font-size: 2.6rem;
  }
  
  .error-information h3 {
    font-size: 1.4rem;
  }
  
  .error-information p {
    font-size: 18px;
  }
}