.city-input {
  font-size: 18px;
  color: var(--theme-morning-fifth-color);
  background: var(--theme-morning-first-color);
  padding: 3px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.city-input:focus {
  background: var(--theme-neutral-first-color);
}

.search-button {
  background: var(--theme-morning-first-color);
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background: var(--theme-neutral-first-color);
}

.search-icon {
  font-size: 16px;
}

.dawn-theme .city-input {
  color: var(--theme-dawn-second-color);
  background: var(--theme-neutral-fourth-color);
  border: 1px solid var(--theme-dawn-second-color);
}

.dawn-theme .search-button {
  background: var(--theme-neutral-fourth-color);
  border: 0.5px solid var(--theme-dawn-second-color);
}

.dawn-theme .search-button:hover {
  background: var(--theme-neutral-first-color);
}

.dawn-theme .search-icon {
 color: var(--theme-dawn-second-color);
}

.dayling-theme .city-input {
  color: var(--theme-neutral-fifth-color);
  background: var(--theme-neutral-fourth-color);
}

.dayling-theme .search-button {
  background: var(--theme-neutral-fourth-color);
}

.dayling-theme .search-button:hover {
  background: var(--theme-neutral-first-color);
}

.sunset-theme .city-input {
  background: var(--theme-neutral-first-color);
}

.sunset-theme .search-button {
  background: var(--theme-neutral-first-color);
  border: 0.5px solid var(--theme-neutral-fifth-color);
}

.sunset-theme .search-icon {
 color: var(--theme-neutral-fifth-color);
}

.evening-theme .city-input {
  color: var(--theme-evening-second-color);
  background: var(--theme-neutral-first-color);
  border: 1px solid var(--theme-evening-second-color);
}

.evening-theme .search-button {
  background: var(--theme-neutral-first-color);
  border: 0.5px solid var(--theme-evening-second-color);
}

.evening-theme .search-button:hover {
  background: #e0e7f5;
}

.evening-theme .search-icon {
 color: var(--theme-evening-second-color);
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .city-input {
    width: 70%;
    margin-right: 5px;
  }
}