.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-one-sixth-color);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}