.units-controller {
  display: flex;
  gap: 8px;
  height: 25px;
}

.units-controller span {
  font-size: 20px;
}

.units-indicator {
  width: 50px;
  border-radius: 18px;
  border: 0.5px solid black;
}

.units-indicator button {
  background: var(--theme-neutral-first-color);
  width: 25px;
  height: 100%;
  border: 0.5px solid var(--theme-neutral-second-color);
  border-radius: 18px;
  cursor: pointer;
}

.units-indicator__celsius {
  float: right;
}

.units-indicator__fahrenheit {
  float: left;
}

.dawn-theme span {
  color: var(--theme-neutral-fourth-color);
}

.dawn-theme .units-indicator {
  background: var(--theme-dawn-first-color);
}

.dawn-theme .units-indicator button {
  border: 0.5px solid var(--theme-dawn-second-color);
}

.evening-theme span {
  color: var(--theme-neutral-first-color);
}

.evening-theme .units-indicator {
  background: var(--theme-evening-first-color);
}

.evening-theme .units-indicator button {
  border: 1px solid var(--theme-evening-second-color);
}