.current-weather-container,
.location-container,
.weather-container,
.temp-container,
.temp-container__aside,
.temp-container__aside-section {
  display: flex;
}

.current-weather-container {
  justify-content: space-between;
  align-items: center;
  background: #5CC2F2;
  height: 120px;
  padding-inline: 15px;
  border-radius: 8px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.location-container {
  flex-direction: column;
  gap: 10px;
}

.location-container span {
  font-size: 35px;
}

.location-container > h3 {
  font-weight: 500;
}

.weather-container {
  flex-direction: column;
  align-items: center;
}

.weather-container > img {
  width: 70px;
  margin-bottom: 5px;
}

.temp-container {
  align-items: center;
  gap: 15px;
}

.temp-container__temp {
  font-size: 3.8rem;
  display: flex;
  gap: 5px;
}

.temp-container__temp span {
  font-size: 28px;
  margin-top: 10px;
}

.temp-container__aside {
  font-size: 18px;
  flex-direction: column;
  gap: 8px;
}

.temp-container__aside-section {
  justify-content: space-between;
}