.current-weather-container,
.location-container,
.weather-container,
.temp-container,
.temp-container__aside,
.temp-container__aside-section {
  display: flex;
}

.current-weather-container {
  justify-content: space-between;
  align-items: center;
  background: var(--theme-neutral-second-color);
  height: 120px;
  padding-inline: 15px;
  border-radius: 8px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.location-container {
  flex-direction: column;
  gap: 10px;
}

.location-container > h2 {
  color: var(--theme-morning-fifth-color);
}

.location-container span {
  font-size: 35px;
}

.location-container > h3 {
  font-weight: 500;
}

.weather-container {
  flex-direction: column;
  align-items: center;
}

.weather-container > img {
  width: 70px;
  margin-bottom: 5px;
}

.temp-container {
  align-items: center;
  gap: 15px;
}

.temp-container__temp {
  font-size: 3.8rem;
  display: flex;
  gap: 5px;
  color: var(--theme-morning-fifth-color);
}

.temp-container__temp span {
  font-size: 28px;
  margin-top: 10px;
}

.temp-container__aside {
  font-size: 18px;
  flex-direction: column;
  gap: 8px;
}

.temp-container__aside-section {
  justify-content: space-between;
}

.dawn-theme {
  background: var(--theme-dawn-third-color);
}

.dawn-theme .location-container h2,
.dawn-theme .temp-container h1,
.dawn-theme .temp-container__aside p {
  color: var(--theme-neutral-fourth-color);
}

.dawn-theme .location-container h3,
.dawn-theme .weather-container p,
.dawn-theme .temp-container span {
  color: var(--theme-neutral-third-color);
}

.dayling-theme {
  background: var(--theme-dayling-third-color);
}

.dayling-theme .location-container h2,
.dayling-theme .temp-container h1,
.dayling-theme .temp-container__aside p {
  color: var(--theme-neutral-first-color);
}

.dayling-theme .location-container h3,
.dayling-theme .weather-container p,
.dayling-theme .temp-container span {
  color: var(--theme-neutral-fourth-color);
}

.sunset-theme {
  background: var(--theme-sunset-third-color);
}

.sunset-theme .location-container h2,
.sunset-theme .temp-container h1,
.sunset-theme .temp-container__aside p {
  color: var(--theme-neutral-first-color);
}

.sunset-theme .location-container h3,
.sunset-theme .weather-container p,
.sunset-theme .temp-container span {
  color: var(--theme-neutral-fourth-color);
}

.evening-theme {
  background: var(--theme-evening-third-color);
}

.evening-theme .location-container h2,
.evening-theme .temp-container h1,
.evening-theme .temp-container__aside p {
  color: var(--theme-neutral-first-color);
}

.evening-theme .location-container h3,
.evening-theme .weather-container p,
.evening-theme .temp-container span {
  color: var(--theme-neutral-fourth-color);
}

@media screen and (max-width: 480px) {
  .current-weather-container {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 240px;
    margin-bottom: 40px;
  }

  .weather-container p {
    display: none;
  }

  .weather-container > img {
    width: 75px;
  }

  .temp-container {
    justify-content: center;
    width: 100%;
    gap: 45px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .current-weather-container {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 220px;
  }

  .location-container,
  .weather-container {
    width: 45%;
  }

  .location-container {
    gap: 8px;
  }

  .location-container span {
    font-size: 48px;
  }

  .weather-container {
    padding-left: 70px;
  }

  .weather-container > img {
    width: 65px;
    margin-bottom: 0;
  }

  .temp-container {
    gap: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .current-weather-container {
    height: 110px;
  }
  
  .weather-container > img {
    width: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .current-weather-container {
    height: 110px;
  }
  
  .weather-container > img {
    width: 60px;
  }
}