.sunrise-sunset-container {
  background: var(--theme-neutral-second-color);
  width: 18%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.sunrise-sunset-container > h2 {
  font-weight: 500;
  margin-bottom: 15px;
}

.sunrise-container,
.sunset-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sunset-container {
  flex-direction: row-reverse;
  margin-top: 15px;
}

.sunrise-container > h2,
.sunset-container > h2 {
  color: var(--theme-morning-fifth-color);
  width: 90px;
  text-align: center;
}

.dawn-theme {
  background: var(--theme-dawn-third-color);
}

.dawn-theme > h2 {
  color: var(--theme-neutral-fourth-color);
}

.dawn-theme div h2 {
  color: var(--theme-dawn-fifth-color);
}

.dawn-theme span {
  color: var(--theme-neutral-third-color);
}

.dayling-theme {
  background: var(--theme-dayling-third-color);
}

.dayling-theme > h2 {
  color: var(--theme-neutral-first-color);
}

.dayling-theme div h2 {
  color: var(--theme-dayling-fifth-color);
}

.dayling-theme span {
  color: var(--theme-neutral-fourth-color);
}

.sunset-theme {
  background: var(--theme-sunset-third-color);
}

.sunset-theme > h2 {
  color: var(--theme-neutral-first-color);
}

.sunset-theme div h2 {
  color: var(--theme-sunset-fifth-color);
}

.sunset-theme span {
  color: var(--theme-neutral-fourth-color);
}

.evening-theme {
  background: var(--theme-evening-third-color);
}

.evening-theme > h2 {
  color: var(--theme-neutral-first-color);
}

.evening-theme div h2 {
  color: var(--theme-evening-fifth-color);
}

.evening-theme span {
  color: var(--theme-neutral-fourth-color);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .sunrise-sunset-container {
    width: 18%;
  }
}