.stack {
  width: 100%;
  padding-inline: 15px;
  overflow-x: scroll;
}

.stack::-webkit-scrollbar {
  height: 8px;
}

.stack::-webkit-scrollbar-track {
  border-radius: 5px;
}

.stack::-webkit-scrollbar-thumb {
  background: #BBBFCA; 
  border-radius: 5px;
}