.stack {
  width: 100%;
  overflow-x: scroll;
}

.chip {
  background: var(--theme-morning-first-color);
  border: 1px solid var(--theme-morning-third-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.chip:hover {
  background: #f0f9fd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.dawn-theme .chip {
  color: var(--theme-neutral-fourth-color);
  background: var(--theme-dawn-third-color);
  border: 0.1px solid var(--theme-dawn-fifth-color);
}

.dayling-theme .chip {
  color: var(--theme-neutral-first-color);
  background: var(--theme-dayling-third-color);
  border: 0.1px solid var(--theme-dayling-fifth-color);
}

.sunset-theme .chip {
  color: var(--theme-neutral-first-color);
  background: var(--theme-sunset-third-color);
  border: 0.1px solid var(--theme-sunset-fifth-color);
}

.evening-theme .chip {
  color: var(--theme-neutral-first-color);
  background: var(--theme-evening-third-color);
  border: 0.1px solid var(--theme-evening-fifth-color);
}