.App, 
.App__section {
  display: flex;
  justify-content: space-between;
}

.App {
  flex-direction: column;
  background: linear-gradient(120deg, var(--theme-morning-first-color), var(--theme-morning-third-color));
  width: 100%;
  height: 100vh;
  padding: 15px 20px;
}

.App__section {
  position: relative;
}

.App__back-button,
.App__next-button {
  position: absolute;
  top: 42%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.App__next-button {
  right: 0;
}

.App__icon-button {
  font-size: 18px;
}

.dawn-theme {
  background: linear-gradient(120deg, var(--theme-dawn-first-color), var(--theme-dawn-second-color));
}

.dayling-theme {
  background: linear-gradient(120deg, var(--theme-dayling-first-color), var(--theme-dayling-second-color));
}

.sunset-theme {
  background: linear-gradient(120deg, var(--theme-sunset-first-color), var(--theme-sunset-second-color));
}

.evening-theme {
  background: linear-gradient(120deg, var(--theme-evening-first-color), var(--theme-evening-second-color));
}

/* @media screen and (max-width: 480px) {
  
} */

@media screen and (min-width: 481px) and (max-width: 767px) {
  .App {
    height: 205vh;
  }

  .App__back-button,
  .App__next-button {
    padding: 6px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .App__back-button,
  .App__next-button {
    padding: 6px;
  }
}