.App, 
.App__section,
.App__sub-section {
  display: flex;
  justify-content: space-between;
}

.App {
  flex-direction: column;
  background: linear-gradient(120deg, var(--theme-one-second-color), var(--theme-one-fourth-color));
  width: 100%;
  height: 100vh;
  padding: 15px 20px;
}

.App__sub-section {
  width: 43.5%;
}