:root {
  --theme-one-first-color: #FAFAFA;
  --theme-one-second-color: #dbecf3;
  --theme-one-third-color: #55b0e9;
  --theme-one-fourth-color: #0b88d6;
  --theme-one-fifth-color: #b1defa;
  --theme-one-sixth-color: rgba(0, 0, 0, 0.16);

   --theme-dawn-first-color: #624F82;
   --theme-dawn-second-color: #162f5e;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  /* outline: 1px solid slateblue; */
}