:root {
  --theme-one-first-color: #FAFAFA;
  --theme-one-second-color: #dbecf3;
  --theme-one-third-color: #55b0e9;
  --theme-one-fourth-color: #0b88d6;
  --theme-one-fifth-color: #b1defa;
  --theme-one-sixth-color: rgba(0, 0, 0, 0.16);

   /* --theme-one-first-color: #FAFAFA;
   --theme-one-second-color: #624F82;
   --theme-one-third-color: #FAFAFA;
   --theme-one-fourth-color: #19376D;
   --theme-one-fifth-color: rgba(117, 125, 163, 0.8);
   --theme-one-sixth-color: rgba(0, 0, 0, 0.16); */
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  /* outline: 1px solid slateblue; */
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: skyblue;
} */